<context id="Leaf03" class="leaf03.Leaf03Context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://repast.org/scenario/context">
  	<projection type ="continuous space" id ="space"/>
	<projection type ="grid" id ="grid"/>
	<projection id="COD" type="value layer"/>
	<projection id="surfactant" type="value layer"/><projection
		type="value layer" id="waterLevel">
</projection>
</context>
